[Unit]
Description=Remove leftover *.backup subvolumes

[Service]
Type=oneshot
ExecStart=snapsh --post-rollback
RemainAfterExit=yes

[Install]
WantedBy=default.target
