[Unit]
Description=Snapsh: Remove leftover *.previous subvolumes

[Service]
Type=oneshot
ExecStart=/usr/sbin/snapsh --post-rollback
RemainAfterExit=yes

[Install]
WantedBy=default.target
